.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.uploadImage {
  max-width: 20%;
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the uploadImage container */
.uploadImage:hover .tooltiptext {
  visibility: visible;
}