.sign-in-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.pink-login-page {
    font: Roboto;
    font-size: 25px;
}
.modalImage {
    object-fit: cover;
    width:100%;
    height: 100%;
}

.modalFields {
    position: absolute !important;
    right: 0px;
    padding-right: 20px !important;
    padding-left:20px !important;
    background-color: white !important;
    height:100%;
    box-shadow: -5px 0px 15px 0px #00000021;
}

#signInForm {
    margin-top: 150px;
    height: 30%;
}
.signInInput {
    width: 100%;
    margin-bottom: 15px;
}
.ReactModal__Body--open {
    overflow-y: hidden;
  }

.memberStatus{
    position: absolute;
    bottom:20px;
    right: 20px;
}
#closeLogin{
    position:absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    text-decoration: none;
    color: #777;
}
#closeLogin:hover{
    color:#2699FB;
}
#closeX{
    font-weight: bold;
}
.signInUpBtn {
    background-image: none !important;
    background-color: #2699FB !important;
    border-radius: 0px !important;
    border: none !important;
    width: 100% !important;
}