.collage-layout{
    width: 200px;
    height: auto;
    object-fit: cover;
}
.react-grid-layout{
    width: 100%;
}

.collage-about{
    padding-left: 0px;
}

.collage-grid{
    background: initial;    
}

.collage-text{
    padding-left: 0px;
}

