.collage-layout{
    width: 200px;
    height: auto;
    object-fit: cover;
}
.react-grid-layout{
    width: 100%;
}

.collage-container{
    margin: 20px 0px;
}
.collage-section{
    margin: 0px;
}
.collage-about{
    padding: 0px;
    width: 100%;
}

.handle > h3{
    margin: 0px;
}

.collage-grid{
    background: initial;    
}

.collage-text{
    padding: 0px;
}

.collage-text > p, .customizable-artboard > p{
    padding: 0px;
}

.customizable-artboard{
    border: 2px solid #2699FB;  
    min-height: 625px;
    max-height: 100%;
    min-width: 100%;
}

.draggable-artboard{
    width: 100%;
}

.collage-image{
    padding: 0px !important;
}
