/* .col-md-6 {
    background-color: #e1e2e9;
} */
.pink {
    background: linear-gradient(to bottom right, #e959c6, #e856c3, #a62b65,#96234d);
    height: 100%;

}
.sign-in-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pink-login-page {
    font: Roboto;
    font-size: 25px;
}

.signUpForm {
    display: table-cell;
    vertical-align: middle;
}
.signUpInput {
    width: 100%;
    margin-bottom: 15px;
}

#artistBooleanGroup{
    display: inline-flex;
}

#artistBooleanLabel {
    width: fit-content;
    margin: 0px;
}

#artistBoolean{
    margin: 0px;
    line-height: normal;
    width: fit-content;
    margin-right: 10px;

}