/* .col-md-6 {
    background-color: #e1e2e9;
} */
.pink {
    background: linear-gradient(to bottom right, #e959c6, #e856c3, #a62b65,#96234d);
    height: 100%;

}
.sign-in-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pink-login-page {
    font: Roboto;
    font-size: 25px;
}

#signUpForm {
    margin-top: 150px;
}
.signUpInput {
    width: 100%;
    margin-bottom: 15px;
}