.headerContainer{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
} 
  
.navbar{
    margin-bottom: 0px;
    background-color: #333;
    background-color: #333;
}




.sticky{
    top: 0;
    width: 100%;
}

@media (min-width: 768px){
.navbar-header{
    width: 100%;
    
}
}