.artistBio {
    margin-bottom: 25px;
    height: fit-content;
}
/* Left Side -- image & contact/social info */
    .artistInfo{
        background-color: white !important;
        height: 350px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 50%;
    }
    .profileImage {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

/* Right Side */
    .artistProfileName{
        text-align: center;
        margin-top: 0px;
    }
    .artistProfileBio{
        text-align: justify;
        padding-left: 0px;
        padding-right: 5px;
    }
    .artistProfileBio::-webkit-scrollbar {
        width: 1px;
        background-color: white;
    }
    .artistProfileBio::-webkit-scrollbar-track {
        width: 1px;
        border: none !important;
    }
    .artistProfileBio::-webkit-scrollbar-thumb {
        width: 1px;
    }

/* Media Queries */
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .artistProfileBio {
            overflow-y: auto;
            max-height: 280px;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .artistProfileBio {
            padding-left: 25px;
            overflow-y: auto;
            max-height: 280px;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .artistInfo{
            height: 385px;
        }
        .profileImage{
            height: 335px;
            padding-right: 12.5px;
        }
        .artistProfileBio {
            padding-left: 12.5px;
            max-height: 300px;
        }
    } 

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .artistInfo{
            height: 425px;
        }
        .profileImage{
            height: 375px;
            padding-right: 12.5px;
        }
        .artistProfileBio{
            max-height: 355px;
        }
    }