.artist_thumbnail_container {
    position: relative;
    font-family: Arial;
}
.artist_thumbnail {
	position: relative;
}

.artist_thumbnail_image {
    width:100%;
}

.artist_thumbnail_text-block {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    color: white;
}

h4,p {
	padding-left: 20px;
    padding-right: 20px;
}

/* Social Icons */
    .social_icon {
        width: 25px;
        height: 25px;
        margin: 2px 2px;
        border-radius:50%;
        background: none;
    }
    .fa {
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: #2699FB;
        margin: 5px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
       
