/* Fonts */
.artistName {
    font-size: 20px;
    text-align: center;
}

.artistTitle {
    font-size: 10px !important;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}
/* Artist Thumbanails */
.artist-container {
    position: relative;
    overflow: hidden;
}
.artist-thumbnail-container {
    height: 300px;
    overflow: hidden;
    padding-left:7.5px;
    padding-right: 7.5px;
    margin-bottom: 15px;
}
.artist-thumbnail {
    background-color: lightblue;    

}
.artist-thumbnail-image {
    object-fit: cover;
    width:100%;
    height: 100%;
    min-height: 275px;
}

.artist-thumbnail-text-block {
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.90);
    color: #2699FB;
    padding-bottom: 10px;
    padding-top:10px;
    overflow: hidden;
}

/* Social Icons */
    .social-icon {
        width: 20px;
        height: 20px;
        margin: 2px 2px;
        border-radius:50%;
        background: none;
    }
    .fa {
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        color: #2699FB;
        margin: 5px 10px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
       
