.about-us-1 > .about-paragraph{
font-size: 2000px;
}

.about-us-2{
padding: 0 5px;
}

.about-image{
    max-width: 100%;
    height: auto;
}

.about-paragraph{
    padding: 0px;   
}
.service-offerings{

}